@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300&display=swap");

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header h2 {
  text-align: center;
}

.progress-container {
  position: fixed;
  right: 0.5%;
  top: 1%;
  width: 8px;
  height: 100%;
  background: #222;
  border-radius: 2px;
  margin: auto;
  /* z-index: 10000; */
}

.progress-bar {
  width: 8px;
  background: #d4b255;
  border-radius: 2px;
}

.progress-bar:before {
  height: 1%;
}

/* .glow {
  -webkit-box-shadow: 0px 0px 5px 6px rgba(212, 178, 85, 0.48);
  -moz-box-shadow: 0px 0px 5px 6px rgba(212, 178, 85, 0.48);
  box-shadow: 0px 0px 5px 6px rgba(212, 178, 85, 0.48);
} */

#map {
  height: 31.25rem;
  margin: 3.125rem 1.25rem;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1::selection {
  background-color: white;
  color: #000000;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
  line-height: 1;
  /* background-color: #021526; */
  /* cursor: none; */
  /* background-color: #212529; */
}

/* .cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  mix-blend-mode: exclusion;
  background-color: white;
  transform: scale(2);
  pointer-events: none;

  z-index: 1;
} */

canvas {
  z-index: 1;
}

html {
  overflow-x: hidden;
}

.preloader {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

body {
  z-index: 1;


  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

header {
  display: flex;
  align-items: center;
  /*background-color: #5c7cfa;*/

  font-size: 1.5rem;
  padding: 1.25rem 3.125rem;
  justify-content: flex-end;
  gap: 1.25rem;
  color: #fff;
  width: 100%;
  height: 6.25rem;
}
.heading {
  color: white;
}

nav div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  margin-right: auto;
  margin-left: 0.75rem;
}

.e {
  width: 6.25rem;
  margin: 0 0.625rem;
  margin-bottom: 0.9375rem;
}

div a {
  text-decoration: none;
  color: #fff;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.625rem;
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.container {
  width: 100%;
  height: 50rem;
  /*background-color: #212529;*/
  display: grid;
  grid-template-rows: repeat(1fr, 2);
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  justify-items: center;
  align-items: center;
  gap: 2.5rem;
}

form span{
  font-size:  1.3rem;
}

section {
  /*background-color: #212529;*/
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

section h1 {
  padding: 1rem;
}

img {
  width: 18.75rem;
  height: 18.75rem;
}

main {
  max-width: 100%;
  height: 100vh;
  margin-bottom: 10rem;
  position: relative;
}

.main-container {
  height: 95%;
  width: 100%;
  /*background-color: #212529;*/

  display: flex;
  margin-bottom: 4rem;
}

.about-me {
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.25rem;
  margin-top: 30vh;
}

.about-me h1 {
  font-size: 4rem;
  text-align: center;
}

.about-me--description {
  color: #dee2e6;
  font-size: 3rem;
}



.btns {
  margin-top: 1.875rem;
  gap: 1.875rem;
  display: flex;
}

.btn--1 {
  background-color: #8ce99a !important;
}

.btn--2 {
  background-color: #ced4da !important;
}

.btn--1:hover {
  background-color: #20c997 !important;
}

.btn1 {
  width: 14rem;
  height: 5rem;
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(0, 0, 0, 0.2);
  border-radius: 2.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #343a40;
  font-family: "Montserrat", sans-serif;
}

.btn1:hover {
  transform: translateY(-0.1875rem) !important;
  transition: all 0.2s;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(255, 255, 255, 0.2);
}

.btn1:active {
  transform: translateY(-0.0625rem) !important;
  transition: all 0.2s;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(255, 255, 255, 0.2);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #212529;
}

.overlay--contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.1875rem);
  z-index: 5;
}

.im:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*background-color: #212529;*/
  gap: 12.5rem;
  color: #fff;
  margin-top: 6.25rem;
  position: relative;
}

.contactSection {
  margin: 10rem 0;
}

.contact-me {
  display: grid;
  grid-template-rows: 6.25rem 6.25rem 1.5625rem 3.125rem 1.5625rem 3.125rem 1.25rem 9.375rem 1.875rem 1.875rem;
  width: 31.25rem;
  padding-top: 1.875rem;
  row-gap: 0.625rem;
}


.section {
  transition: transform 2s, opacity 2s;
}

.portfolioSection {
  padding: 1.5625rem 0;
}

.section-hidden {
  opacity: 0;
  transform: translateY(0.5rem);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: white;
  padding: 3.75rem;
  border-radius: 0.3125rem;
  box-shadow: 0 1.875rem 3.125rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: black;
}

.close-modal {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: #868e96;
}
.show-modal {
  font-size: 1.25rem;
  border-radius: 8px;
  font-family: inherit;
  background-color: #bde8ca;
  color: #000000;
}

.hidden {
  display: none;
}

#element {
  font-size: 3rem;
  color: #adb5bd;
}

.hover-it {
  position: relative;
  width: 25rem;
  height: 18.75rem;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 6.25rem;

  font-size: 2.25rem;
  color: #dee2e6;
  margin-top: 4%;
}

footer form p {
  font-size: 1.5rem;
}

.skill--heading {
  margin-bottom: 5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin: 3.125rem 0 6.25rem 0;
}

.skills h1 {
  font-weight: 600;
}

.skill {
  border: 1px solid white;
  padding: 6rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.skill:hover {
  background-color: white;
  color: #212529;
}

.skillIcon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #94d82d;
}

.section--skills {
  padding: 1.875rem;
}

.cpu--icon,
.skill--icon {
  height: 3rem;
  width: 3rem;
  stroke: white;
}

/* Navigation for mobile devices and tablets, wont work on laptops */

.btn-mobile-nav {
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: white;
  background: none;
}

.icon-mobile-nav[data-name="close-outline"] {
  display: none;
}

input,
textarea {
  border: 2px solid #ccc;
  padding: 10px 14px;
  border-radius: 6px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  background-color: #fefefe;
  color: #222;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #718dfb;
  box-shadow: 0 0 0 3px rgba(113, 141, 251, 0.4);
}

/* Button styling */
form button {
  border: none;
  padding: auto;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

form button:hover {
  background-color: #bde8cae1;
  transform: translateY(-2px);
}

form button:active {
  background-color: #a8f5bfe1;
  transform: scale(0.98);
}


/* hover animation over nav links */
.e {
  color: #fff;
  text-decoration: none;
  padding: 15px 0px;
  position: relative;
}
.e:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.e:hover:after {
  width: 100%;
  left: 0;
}

.portfolio {
  height: 200vh;
  display: grid;
  font-size: 2rem;
  padding-top: 10vw;
  grid-template-columns: 1fr 1fr;

  gap: 5rem;

  margin: 0 5rem;
  align-self: center;
}

.card__side {
  color: #fff;
  width: 100%;
  height: 100%;

  flex-direction: column;
  background-color: #6f88ef;
  padding: 24px;
  border-radius: 10px;
  transform-style: preserve-3d; /* Ensure 3D context is preserved */

  display: block;
  transition: all 0.8s; /* Smooth transition for rotation */
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.project--title {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.project--image {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  object-position: center;
}


.canvas-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card:hover .card__side--front {
  transform: rotateY(180deg) !important;
}

.card:hover .card__side--back {
  transform: rotateY(0deg) !important;
  transform: translate(-50%, -50%);
}

.card__side--front {
  background-color: orangered;
  display: flex;
  flex-shrink: 1;
}

.card__side--front img {
  border-radius: 10px;
}

.card__side--back {
  transform: rotateY(180deg) !important;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  width: 70%;
  place-self: center;
  padding: 2em;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  width: calc(100% + 6px); /* Increase width to create the border effect */
  height: calc(100% + 6px); /* Increase height to create the border effect */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  background-image: conic-gradient(
    from var(--angle),
    #b1bacb,
    #00ff99,
    #8ec71c,
    #aab2bc
  );
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.project--title__back {
  margin-top: 40%;
}


@media (max-width: 94em) {
  /*will add code later */
  .about-me {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
  }

  
}

/*Landscape Tablets*/
@media (max-width: 75em) {
  /* MOBILE NAVIGATION */

  main {
    height: 40vh;
  }

  

  html {
    font-size: 62.5%;
  }

  #root {
    overflow-x: hidden;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%) !important;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    flex-direction: column;
    gap: 2.5rem;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1 !important;
    z-index: 3;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0) !important;
  }

  .nav-open .icon-mobile-nav[data-name="close-outline"] {
    display: block;
    z-index: 200;
    position: relative;
  }

  .nav-open .icon-mobile-nav[data-name="menu-outline"] {
    flex-direction: column;
    display: none;
    z-index: 200;
    position: relative;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.5rem;
    color: #343a40;
  }

  .main-container {
    margin-bottom: -2rem;
  }

  .util-box {
    flex-direction: column;
  }
  .section--skills {
    margin-top: 15%;
  }
}



@media (max-width: 51em) {
  .canvas-container {
    height: 100vh;
  }

  .section--skills {
    margin-top: 20%;
  }



  footer {
    grid-template-columns: 1fr;
  }
  .contact-me {
    width: 80%;
    margin: 0 10%;
  }

  #map {
    height: 40rem;
    border-radius: 10px;
  }
  .cursor {
    opacity: 0;

    visibility: hidden;
  }
  .portfolio {
    grid-template-columns: 1fr;
  }

  .portfolioSection {
    margin-bottom: 120vh;
  }
  .card {
    width: 60vw;
  }
}

/*Smaller Tablets*/
@media (max-width: 41em) {
  .main-container {
    align-items: center;
    justify-content: center;
  }

  .section--skills {
    margin-top: 30%;
  }
}

/* For mobiles */
@media (max-width: 30em) {
  .main-container {
    display: flex;
    font-size: 10rem;
  }
  main {
    height: 95vh;
  }

  .canvas-con {
    display: none;
  }

  .about-me {
    display: flex;
    width: 100%;
    margin-top: 20vh;
    gap: 2rem;
  }

  nav {
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
  }
  .contact-me {
    width: 80%;
    margin: 0 10%;
  }

  .skills {
    gap: 10rem;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40rem;
  }

  .portfolio {
    grid-template-columns: 1fr;
  }

  /* .card {
    width: 80vw;
  } */
}

.canvas-container {
  display: flex;

}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0.9;
  background-position: center;
}
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 85%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
}

.timeline {
  margin-bottom: 5rem;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingScreen {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.642);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-loading {
  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
}

.bar {
  width: 10vw;
  height: 100vh;
  background: black;
}
