/*
    SPACING SYSTEM (rem)
    0.125 / 0.25 / 0.5 / 0.75 / 1 / 1.5 / 2 / 3 / 4 / 5 / 6 / 8

    FONT SIZE SYSTEM (rem)
    0.625 / 0.75 / 0.875 / 1 / 1.125 / 1.25 / 1.5 / 1.875 / 2.25 / 2.75 / 3.5 / 4.125 / 4.625 / 5.375 / 6.125
*/

/*
    MAIN COLOR: #087f5b
    GREY COLOR: #343a40
*/

#map {
  height: 31.25rem;
  margin: 3.125rem 1.25rem;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  line-height: 1;
  background-color: #212529;
  position: relative;
  cursor: none;
  cursor: url("../gold-key.png"), auto;

  box-sizing: border-box;
  /* background-color: #212529; */
}

canvas {
  z-index: -1;
}

.cover-photo {
  background-image: url("../earth.jpg");
  background-attachment: fixed;
  background-position: right;
  height: 100vh;
}

html {
  overflow-x: hidden;
}

button:hover {
  transition-duration: 0.4s;
  cursor: url("../gold-key.png"), auto !important;
}

header {
  display: flex;
  align-items: center;
  /*background-color: #5c7cfa;*/
  font-size: 1.5rem;
  padding: 1.25rem 3.125rem;
  justify-content: flex-end;
  gap: 1.25rem;
  color: #fff;
  width: 100%;
  height: 6.25rem;
}
.heading {
  color: white;
}

nav div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  margin-right: auto;
  margin-left: 0.75rem;
}

/*nav a:hover {*/
/*  background-color: #343a40;*/
/*}*/

.e {
  width: 6.25rem;
  margin: 0 0.625rem;
  margin-bottom: 0.9375rem;
}

div a {
  text-decoration: none;
  color: #fff;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.625rem;
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.container {
  width: 100%;
  height: 50rem;
  /*background-color: #212529;*/
  display: grid;
  grid-template-rows: repeat(1fr, 2);
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  justify-items: center;
  align-items: center;
  gap: 2.5rem;
}

section {
  /*background-color: #212529;*/
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

section h1 {
  padding: 1rem;
}

img {
  width: 18.75rem;
  height: 18.75rem;
}

main {
  width: 100%;
  height: 70vh;
  margin-bottom: 10rem;
  position: relative;
}

.main-container {
  height: 95%;
  width: 100%;
  /*background-color: #212529;*/

  display: flex;
  margin-bottom: 4rem;
}

.about-me {
  margin: 9.375rem 6.25rem 9.375rem 6.25rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about-me h1 {
  font-size: 3rem;
}

.about-me--description {
  color: #dee2e6;
  margin: 0.625rem 0;
  font-size: 1.5rem;
}

.funny-photo {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 4.6875rem;
  /*background-image: url('../BHFO.gif');*/
  /*background-repeat: no-repeat;*/
}

.btns {
  margin-top: 1.875rem;
  gap: 1.875rem;
  display: flex;
}

.btn--1 {
  background-color: #8ce99a !important;
}

.btn--2 {
  background-color: #ced4da !important;
}

.btn--1:hover {
  background-color: #20c997 !important;
}

.btn1 {
  width: 12.5rem;
  height: 4.375rem;
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(0, 0, 0, 0.2);
  border-radius: 2.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "calibri", sans-serif;
  color: #343a40;
}

.btn1:hover {
  transform: translateY(-0.1875rem) !important;
  transition: all 0.2s;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(255, 255, 255, 0.2);
  cursor: url("gold-key.png"), auto;
}

.btn1:active {
  transform: translateY(-0.0625rem) !important;
  transition: all 0.2s;
  box-shadow: 0.75rem 1.875rem 3.75rem rgba(255, 255, 255, 0.2);
  cursor: url("gold-key.png"), auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #212529;
}

.overlay--contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.1875rem);
  z-index: 5;
}

.im:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*background-color: #212529;*/
  gap: 12.5rem;
  color: #fff;
  margin-top: 6.25rem;
  position: relative;
}

.contactSection {
  margin: 10rem 0;
}

.contact-me {
  display: grid;
  grid-template-rows: 6.25rem 6.25rem 1.5625rem 3.125rem 1.5625rem 3.125rem 1.25rem 9.375rem 1.875rem 1.875rem;
  width: 31.25rem;
  padding-top: 1.875rem;
  row-gap: 0.625rem;
}

.contact-me button {
  background-color: #a5d8ff;
  border: none;
  box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.01);
}

form p,
span {
  color: #adb5bd;
}

form input,
textarea {
  background-color: #ced4da;
}

.section {
  transition: transform 2s, opacity 2s;
}

.portfolioSection {
  padding: 1.5625rem 0;
}

.section-hidden {
  opacity: 0;
  transform: translateY(0.5rem);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: white;
  padding: 3.75rem;
  border-radius: 0.3125rem;
  box-shadow: 0 1.875rem 3.125rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: black;
}

.close-modal {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.25rem;
  background: none;
  border: none;
  color: #868e96;
}

.hidden {
  display: none;
}

#element {
  font-size: 1.875rem;
  color: #adb5bd;
}

.hover-it:hover .portfolio-photo {
  opacity: 0;
}

.portfolio-photo {
  left: 0;
  top: 0;
  position: absolute;
  transition: 0.005s ease;
}

.hover-it {
  position: relative;
  width: 25rem;
  height: 18.75rem;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 6.25rem;

  font-size: 2.25rem;
  color: #dee2e6;
}

footer form p {
  font-size: 1.5rem;
}

.skill--heading {
  margin-bottom: 5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin: 3.125rem 0 6.25rem 0;
}

.skills h1 {
  font-weight: 600;
}

.skill {
  border: 1px solid white;
  padding: 6rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.skill:hover {
  background-color: white;
  color: #212529;
}

.skillIcon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #94d82d;
}

.section--skills {
  padding: 1.875rem;
}

.cpu--icon,
.skill--icon {
  height: 3rem;
  width: 3rem;
  stroke: white;
}

.marquee {
  width: 100%;
  line-height: 3.125rem;
  height: 4.25rem;
  background-color: #5c7cfa;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  display: inline-block;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
  font-size: 2.25rem;
  font-weight: 500;
}

.marquee p:hover,
.marquee:hover {
  animation-play-state: paused;
  color: white;
  background-color: #212529;
}

/* Navigation for mobile devices and tablets, wont work on laptops */

.btn-mobile-nav {
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: white;
  background: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Color changes when you press on an input box */
input,
textarea {
  width: 100%; /* Full width */
  padding: 12px 20px; /* Padding inside the input */
  margin: 8px 0; /* Space above and below the input */
  box-sizing: border-box; /* Include padding and border in the input's width */
  border: 2px solid #ffffff; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: border-color 1s, box-shadow 0.3s; /* Smooth transition for border and shadow */
}

/* Style for the input box when it's clicked (focused) */
input:focus,
textarea:focus {
  outline: none;
  border-color: #c0e7e3; /* Change border color when focused */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Stronger shadow when focused */
  background-color: #f2f3d2;
}

form button,
button:hover {
  background-color: #718dfb;
  transition: all 0.2s;
}

form button:active {
  background-color: #859bf3;
  transition: all 0.2s;
}

/* hover animation over nav links */
a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.header__main-text {
  background-color: black;
  padding: 2vw 5vw;
  color: whitesmoke;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.2, 0, 0, 0.8);
}
.header__main-text:hover {
  color: black !important;
  z-index: 1;
  background-color: whitesmoke;
}
.header__main-text:hover ~ .header__main-long_text {
  transform: translateX(5em);
  transition: transform 2s ease-out, opacity 2s ease-out;
  opacity: 1;
}

.util-box {
  display: flex;
  margin-left: 2vw;
}
.util-box:not(:last-child) {
  margin-bottom: 2vw;
}

.header__main-long_text {
  display: block;
  background-color: pink;
  flex: 2;
  text-align: center;
  border-radius: 100px;
  margin-left: -5vw;
  z-index: 0;
  transform: translateX(-20em);
  opacity: 0;
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.portfolio {
  height: 95vh;

  position: relative;
  font-size: 2rem;
  padding-top: 10vw;
}

@media (max-width: 94em) {
  /*will add code later */
}

/*Landscape Tablets*/
@media all and (max-width: 75em) {
  /* MOBILE NAVIGATION */

  html {
    font-size: 62.5%;
  }

  #root {
    overflow-x: hidden;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    flex-direction: column;
    gap: 2.5rem;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    z-index: 2;
    position: relative;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    flex-direction: column;
    display: block;
    z-index: 2;
    position: relative;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.5rem;
    color: #343a40;
  }

  .main-container {
    margin-bottom: -2rem;
  }
}

@media only screen and (max-width: 49em) {
  .canvas-container {
    flex-direction: column;
    height: 180vh;
    margin-bottom: 80vh;
  }

  .canvas-con {
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .section--skills {
    margin-top: 80vh;
  }

  footer {
    grid-template-columns: 1fr;
  }
  .contact-me {
    width: 80%;
    margin: 0 10%;
  }

  #map {
    height: 40rem;
  }
}

/*Smaller Tablets*/
@media (max-width: 41em) {
  .main-container {
    align-items: center;
    justify-content: center;
  }
}

/* For mobiles */
@media only screen and (max-width: 30em) {
  .main-container {
    display: flex;
    font-size: 10rem;
  }

  .about-me {
    display: flex;
    width: 70%;
    margin-top: 22rem;
    gap: 2rem;
  }

  nav {
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
  }
  .contact-me {
    width: 80%;
    margin: 0 10%;
  }

  .skills {
    gap: 10rem;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40rem;
  }
}

.canvas-container {
  display: flex;
}

.canvas-con {
  display: flex;
  flex-basis: 40%;
  justify-items: flex-end;
  align-content: center;
  flex-shrink: 1;
}
